<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="border: 1px solid black; padding: 5%;width:40%">
        <input id="EmailLogin" type="text" placeholder="Email" />
        <br />
        <input id="PasswordLogin" type="text" placeholder="Password" />
        <br />
        <input id="Login" type="button" value="Login" />
    </div>
</body>
</html>
