
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <p>
        Greetings, welcome to our 2018 Library Catalog!
    </p>
    <p>
        Here are your options:
    </p>
    <button type="button" name="Create User" action="">Create User</button>
    </br></br>
    <button type="button" name="View logged in users" action="">View logged in users</button>
</body>
</html>
